<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-sample" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Sample</name>
    <js-module name="sample" src="www/sample.js">
        <clobbers target="cordova.plugins.sample" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Sample">
                <param name="android-package" value="plugin.sample.Sample" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/Sample.java" target-dir="src/cordova-plugin-sample/Sample" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Sample">
                <param name="ios-package" value="Sample" />
            </feature>
        </config-file>
        <source-file src="src/ios/Sample.m" />
    </platform>
</plugin>
